<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.myanimation">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <!--
        <activity android:name=".SecondActivity">
        </activity>
        -->
        <activity
            android:name=".ThirdActivity"
            android:windowSoftInputMode="" />
        <activity android:name=".FourActivity" />
        <activity android:name=".FiveActivity" />
        <activity android:name=".ProgressActivity" />
        <activity android:name=".GuideActivity" />
        <activity android:name=".SvgActivity" />
        <activity android:name=".AnimatorActivity"></activity>
        <activity android:name=".LinearActivity" />
        <activity android:name=".RecycleActivity" />
        <activity
            android:name=".PartialBlurActivity"
            android:label="@string/title_activity_partial_blur"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowActionBar="false" />
        <activity android:name=".CardActivity" />
        <activity android:name=".CustomAdapterViewActivity" />
        <activity android:name=".GestureActivity">
        </activity>
        <activity android:name=".CustomListActivity"
            android:hardwareAccelerated="false"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>